
h1 {
  /* font-family: 'Helvetica'; */
  color: white;
  /* color:rgb(255,255,255); */
  /* background-color: #333; */
  background-color: rebeccapurple;
  padding: .5em;
}

p {
  font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
}

img {
  max-height: 150px;
  border-radius: 20px;
  background-color: purple;
}

.highlighted { 
  background-color: yellow;
}

.lightgrey {
  background-color: lightcoral;
}
.centered {
  text-align: center;
  font-family: 'Times New Roman', Times, serif
}

/* .cow {
  background-color: burlywood;
}  */

/* .sheep {
  background-color: black;
  color: white;
} */

/* .dark {
  background-color: grey;
  color: black;
} */

.alert { /* applies to all elements with class="alert" */
  font-size: larger;
}

.success { /* applies to all elements with class="success" */
  color: #28a745; /* a pleasant green */
}
/* .about-section {
  font-family: 'Papyrus';
  background-color: #eee; 
} */


/* p {
  font-family: Helvetica;
} */