/* slide 17 */

.message img {
    border-radius: 50%;
}



/* slide 18 */

.message img {
    border-radius: 50%;
    width: 50px;
    height: 50px;

} 


/* Slide 18 */

.message .user-name {
    font-weight: bold;
    margin: 0;
}