/* general styling */
h1,
h2,
h3 {
    font-family: 'Helvetica';
}

h2 {
    color: rebeccapurple;
}
main {
    display: flex;
    align-items: center;
}

/* nav bar */
nav {
    color: white;
    background-color: #4b2e83;
}

nav a {
    color: white;
}


nav li {

    display: inline-block;
    border: 1px solid white;
    /* margin: 5px; */
    padding: 10px;
}

/* about section */
.about {
    background-color: #f8f8f8;

}

/* Example 1 my flexbox pool */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.jobs .card.microsoft {
    flex-grow: 5;
    /* flex-grow: 0; */
    /* flex-grow: 1; */
}
.jobs .card {
    flex-grow: 1;
    flex-basis: 300px;
/* make the card also a pool! */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* course cards */
.jobs .card {
    border: 1px solid black;
    margin: .25em;
}

.jobs img {
    max-width: 150px;
}

footer {
    font-size: smaller;
}